[submodule "services/apps/fsl"]
	path = services/apps/fsl
	url = git@github.com:HIP-infrastructure/fsl.git
[submodule "services/apps/anywave"]
	path = services/apps/anywave
	url = git@github.com:HIP-infrastructure/anywave.git
[submodule "services/apps/brainstorm"]
	path = services/apps/brainstorm
	url = git@github.com:HIP-infrastructure/brainstorm.git
[submodule "services/apps/mricrogl"]
	path = services/apps/mricrogl
	url = git@github.com:HIP-infrastructure/mricrogl.git
[submodule "services/apps/slicer"]
	path = services/apps/slicer
	url = git@github.com:HIP-infrastructure/slicer.git
