{$BACKEND_DOMAIN}

encode gzip zstd

#tls /etc/caddy/cert.pem /etc/caddy/key.pem 

route /session/* {
	@session {
		path_regexp session ^/session/([0-9]+)(/.*)?
	}
	handle @session {
		rewrite {re.session.2}
		reverse_proxy localhost:{re.session.1}
	}
}

redir /api /api/
route /api/* {
	uri strip_prefix /api
	reverse_proxy localhost:8060 {
		health_uri /ok
		health_interval 10s

		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
	}
}

route {
	respond "404 nothing here" 404
}
